<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails d'une formation</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="animate-charcter">Details de la formation : <span th:text="${training.getName()}"></span></h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-center">
      <h3 class="text-center text-info">
       Description
      </h3>
      <dl>
        <dt>
          <span>Début de la formation</span>
        </dt>
        <dd th:text="${training.getStartAt()}">
        </dd>
        <dt>
          <span>Durée</span>
        </dt>
        <dd th:text="${training.getDuration()}">
        </dd>
        <dt>
          <span>Prix</span>
        </dt>
        <dd th:text="${training.getPrice()}">
        </dd>
        <dt>
          <span>Catégorie</span>
        </dt>
        <dd th:text="${training.getPrice()}">
        </dd>
        <dt>
          <span>Niveau</span>
        </dt>
        <dd th:text="${training.getLevel().getName()}"></dd>
        <dt>
          <span>Statut</span>
        </dt>
        <dd th:if="${training.isOnline() == true}">Se passe en ligne</dd>
        <dd th:if="${training.isOnline() == false}">Se passe en présentiel</dd>
      </dl>  <a th:href="'/training/modify/' + ${training.getId()}" class="btn btn-secondary">Modifier  <i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-center text-warning">
        Étudiants inscrits
      </h3>
      <th:block th:each="student : ${training.getStudentsList()}">
        <ol>
          <li class="list-item" th:text="${student.getFullName()}">
          </li>
        </ol>
      </th:block>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-success text-center">
        Professeurs inscrits
      </h3>
      <th:block th:each="former : ${training.getFormerList()}">
      <ol>
        <li class="list-item" th:text="${former.getFullName()}">
        </li>
      </ol>
      </th:block>
    </div>
  </div>
</div>

</body>

<div th:replace="_fragments/footer"></div>

</html>