<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire formation</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
  <form method="post" th:object="${training}" action="http://localhost:8080/addTraining">
    <h1>Ajout d'une formation</h1>
    <input hidden th:field="${training.id}" name="id">
    <div>
      <input placeholder="Nom de la formation" name="name" th:field="${training.name}">
    </div>
      <input th:field="${training.online}" id="online" type="checkbox" name="online">
      <label for="online">Se passe en ligne</label>
    <input th:field="${training.duration}" placeholder="Durée" type="number" name="duration"/>
    <input th:field="${training.price}" placeholder="Prix" type="number" name="price"/>
    <input th:field="${training.startAt}" placeholder="Date de début" type="date" name="date"/>

    <select th:field="${training.category}" name="category">
      <th:block th:each="category : ${categoryList}">
        <option th:value="${category.getId()}" th:text="${category.getName()}"></option>
      </th:block>
    </select>

    <select th:field="${training.level}" name="level">
      <th:block th:each="level : ${levelList}">
        <option th:value="${level.getId()}" th:text="${level.getName()}"></option>
      </th:block>
    </select>

    <button class="btn btn-primary" type="submit">Valider</button>

  </form>

</body>
</html>