<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire niveau</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
  <form method="post" th:object="${level}" action="/level/post">
    <h1>Ajout d'un niveau de difficulté</h1>
    <input hidden th:field="${level.id}" name="id">
    <input placeholder="Difficulté" name="name" th:field="${level.name}">

      <button class="btn btn-primary" type="submit">Valider</button>
  </form>

</body>
</html>