<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire niveau</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
    <style>
        .error {
            color: red;
        }
    </style>
    <script>
        function displayError(errorMessage) {
            alert(errorMessage);
        }

        function validateForm(event) {
            event.preventDefault(); // Prevents the form from submitting and redirecting

            var name = document.getElementsByName("name")[0].value;

            // Perform validation
            if (name.trim() === "") {
                displayError("Difficulté is required.");
                return false;
            }

            event.target.submit(); // Submit the form if validation passes
        }
    </script>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
<form method="post" th:object="${level}" action="/level/post" onsubmit="validateForm(event)">
    <h1>Ajout d'un niveau de difficulté</h1>
    <input hidden th:field="${level.id}" name="id">
    <div class="form-group">
        <label for="name">Difficulté</label>
        <input class="form-control" id="name" placeholder="Difficulté" name="name" th:field="${level.name}" required>
        <div class="error"></div>
    </div>

    <button class="btn btn-primary" type="submit">Valider <i class="fa-solid fa-check"></i></button>
</form>
<div th:replace="_fragments/footer"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            var nameInput = document.getElementById('name');
            var errorContainer = document.querySelector('.error');

            if (nameInput.value.trim() === '') {
                errorContainer.textContent = 'Difficulté is required.';
                nameInput.classList.add('is-invalid');
                return;
            }

            form.submit();
        });
    });
</script>
</body>
</html>
