<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire formateur</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
  <form method="post" th:object="${former}" action="/formers/post">
    <h1>Ajout d'un formateur</h1>
    <input hidden th:field="${former.id}" name="id">
      <input placeholder="Nom du formateur" name="firstName" th:field="${former.firstName}">
      <input placeholder="Prénom du formateur" name="lastName" th:field="${former.lastName}">
    <button class="btn btn-primary" type="submit">Valider</button>
  </form>

</body>
</html>