<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Former list</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
<div class="container-sm" th:if="${success} != null">
    <div class="alert alert-success" role="alert" th:text="${success}"></div>
</div>
<div class="container mt-5">
    <a href="/formers/add" class="btn btn-primary">Ajouter un nouveau formateur  <i class="fa-solid fa-plus"></i></a>

    <table class="table">
        <thead>
        <th>Nom du Formateur</th>
        <th>Prénom du Formateur</th>
        </thead>
        <tbody>
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="animate-charcter">Liste des formateurs</h3>
                </div>
            </div>
        </div>
        <th:block th:each="former : ${formerList} ">
            <tr>
                <td th:text="${former.getLastName()}"></td>
                <td th:text="${former.getFirstName()}"></td>
                <td class="d-flex justify-content-around">
                    <form method="POST" th:action="${former.getId()}">
                        <button th:data-id="${former.getId()}" onclick="deleteFunction(this.getAttribute('data-id'))"  type="button" class="btn btn-danger">Supprimer  <i class="fa-regular fa-trash-can"></i></button>
                    </form>
                    <a th:href="'/formers/modify/' + ${former.getId()}" class="btn btn-secondary">Modifier  <i class="fa-solid fa-pen-to-square"></i></a>
                <td>
                    <a th:href="'/formers/teachedTrainings/' + ${former.getId()}" class="btn btn-primary">view teached trainings by this former</a>
                </td>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression d'un formateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir supprimer ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer  <i class="fa-solid fa-xmark"></i></button>
                <button id="delete-button" type="button" class="btn btn-danger">Supprimer  <i class="fa-regular fa-trash-can"></i></button>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    function deleteFunction(id){
        $("#myModal")
            .modal('show')

        $("#delete-button").on("click", () => {
            $.ajax({
                url: "/formers/" + id,
                type: "POST",
                success: () => {
                    $('#myModal').modal('hide')
                    window.location.assign("/formers/")
                }
            })
        })
    }
</script>
<div th:replace="_fragments/footer"></div>
</html>