<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire catégorie</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
  <form class="d-flex flex-column align-items-center justify-content-center" method="post" th:object="${category}" action="/category/post">
      <div class="container mt-4">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h3 class="animate-charcter">Ajout d'une catégorie</h3>
              </div>
          </div>
      </div>
      <br>
    <input hidden th:field="${category.id}" name="id">
      <input placeholder="Nom de la catégorie" name="name" th:field="${category.name}">
      <br>
    <button class="btn btn-primary mb-4" type="submit">Valider  <i class="fa-solid fa-check"></i></button>
  </form>
<div th:replace="_fragments/footer"></div>
</body>
</html>