<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire catégorie</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
    <style>
        /* Adjust the width of form inputs */
        .form-input {
            width: 100%; /* You can adjust the width as needed */
        }
    </style>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
<div class="container">
    <form class="needs-validation" method="post" th:object="${category}" action="/category/post" onsubmit="event.preventDefault()">
        <h1>Ajout d'une catégorie</h1>
        <input hidden th:field="${category.id}" name="id">
        <div class="mb-3">
            <label class="form-label">Nom de la catégorie</label>
            <input class="form-control form-input" placeholder="Nom de la catégorie" name="name" th:field="${category.name}" required>
            <div class="invalid-feedback">Veuillez saisir un nom de catégorie valide.</div>
        </div>
        <button class="btn btn-primary" type="submit">Valider  <i class="fa-solid fa-check"></i></button>
    </form>
</div>
<div th:replace="_fragments/footer"></div>
</body>
</html>
