<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire étudiant</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>

  <form class="d-flex flex-column align-items-center justify-content-center" method="post" th:object="${student}" action="/students/post" onsubmit="validateForm(event)">
      <div class="container mt-4">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h3 class="animate-charcter">Ajout d'un étudiant</h3>
              </div>
          </div>
      </div>
      <br>
    <input hidden th:field="${student.id}" name="id">
    <div class="col-md-4">
        <label for="validationServer01" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationServer01" name="firstName" th:field="${student.firstName}"   required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer02" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationServer02" name="lastName" th:field="${student.lastName}"   required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
      <br>
    <button class="btn btn-primary mb-3" type="submit">Valider  <i class="fa-solid fa-check"></i></button>
  </form>

<div th:replace="_fragments/footer"></div>

<script>
    function validateForm(event) {
        event.preventDefault(); // Prevents the form from submitting and redirecting

        let lastName = document.getElementsByName("lastName")[0].value;
        let firstName = document.getElementsByName("firstName")[0].value;

        if (!/^[A-Za-z]+$/.test(firstName) || !/^[A-Za-z]+$/.test(lastName)) {
            alert("Only alphabetic characters are allowed.");
        } else {
            event.target.submit(); // Submit the form if validation passes
        }
    }
</script>
</body>
</html>

