
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training list</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="animate-charcter">Liste des cours suivis par <span th:text="${student.getFullName()}"></span></h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Cours</th>
                            <th>Catégorie</th>
                            <th>Niveau</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="training : ${subscribedTrainings}">
                            <td th:text="${training.getName()}"></td>
                            <td th:text="${training.getCategory().getName()}"></td>
                            <td th:text="${training.getLevel().getName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/students/" class="btn btn-secondary">Retour</a>
        </div>
    </div>
</div>
<div th:replace="_fragments/footer"></div>
</body>
</html>