<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire étudiant</title>
    <div th:replace="_fragments/header :: bootstrap"></div>
</head>
<body>
<div th:replace="_fragments/navbar :: navbar"></div>

<form class="row g-3" method="post" th:object="${student}" action="/students/post" onsubmit="validateForm(event)">
    <h1>Ajout d'un étudiant</h1>
    <input hidden th:field="${student.id}" name="id">
    <div class="col-md-4">
        <label for="validationServer01" class="form-label">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="firstName" th:field="${student.firstName}"   required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer02" class="form-label">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" name="lastName" th:field="${student.lastName}"   required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>
<div th:replace="_fragments/footer"></div>

<script>
    function validateForm(event) {
        event.preventDefault(); // Prevents the form from submitting and redirecting

        var firstName = document.getElementsByName("firstName")[0].value;
        var lastName = document.getElementsByName("lastName")[0].value;

        if (!/^[A-Za-z]+$/.test(firstName) || !/^[A-Za-z]+$/.test(lastName)) {
            alert("Only alphabetic characters are allowed.");
        } else {
            event.target.submit(); // Submit the form if validation passes
        }
    }
</script>
</body>
</html>



